<footer class="footer" id="footer">
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-4">
				<a class="footer__link" href="{{ path('home') }}">
					<span class="footer__slashflex">/ FLX</span>
				</a>
				<p style="text-align: justify;">I am always open to new interesting ideas and startups. If you need some help with your project – please do not hesitate to contact me right now!</p>

				<div class="btn__footer">
					<a href="mailto: pro.davidsaoud@gmail.com" class="button__login--text">Text Me</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="portfolio">PORTFOLIO</div>
				
				<nav class="main-nav" style="margin-left: 8rem">
					<ul class="main-nav__list">
						<li class="main-nav__item d-block"><a href="{{ path('home') }}" class="main-nav__link">Home</a></li>
						{% if app.user and app.user.roleUser[0].name == 'ROLE_ADMIN' %}
							<li class="main-nav__item">
								<a href="{{ path('admin') }}" class="main-nav__link">Dashboard</a>
							</li>
						{% endif %}
						{% if app.user %}
							<li class="main-nav__item">
								<a href="{{ path('user') }}" class="main-nav__link">Profile</a>
							</li>
							<li class="main-nav__item">
								<a href="{{ path('logout') }}" class="main-nav__link">Logout</a>
							</li>
						{% elseif not app.user %}
							<li class="main-nav__item">
								<a href="{{ path('app_register') }}" class="main-nav__link">Register</a>
							</li>
							<li class="main-nav__item">
								<a href="{{ path('user_signin') }}" class="main-nav__link">Login</a>
							</li>
						{% endif %}
							<li class="main-nav__item">
								<a href="{{ path('blog') }}" class="main-nav__link">Blog</a>
							</li>
							<li class="main-nav__item">
								<a href="{{ path('works') }}" class="main-nav__link">Works</a>
							</li>
						<li class="main-nav__item">
							<a href="{{ path('contact') }}" class="main-nav__link">Contact</a>
						</li>
					</ul>
				</nav>	
			</div>
			<div class="col-md-4">
				Lorem ipsum dolor sit amet.
			</div>
		</div>

		<div class="menu-footer">
			<nav class="footer-nav">
				<ul class="footer-nav__icons">
					<li class="footer-nav__item">
						<a href="https://github.com/Slashflex" class="footer-nav__social">
							<i class="fab fa-github footer-nav__menu"></i>
						</a>
					</li>
					<li class="footer-nav__item">
						<a href="https://www.linkedin.com/in/david-saoud-775624174/" class="footer-nav__social">
							<i class="fab fa-linkedin-in footer-nav__menu"></i>
						</a>
					</li>
					<li class="footer-nav__item">
						<a href="mailto: pro.davidsaoud@gmail.com" class="footer-nav__social">
							<i class="fas fa-paper-plane footer-nav__menu"></i>
						</a>
					</li>
				</ul>
			</nav>
			<hr style="background-color: rgba(255, 255, 255, 0.1)">

			<div class="footer-copyright text-center py-3">&copy;<a class="footer-copyright--link" href="https://slashflex.io/"> Slashflex.io</a> {{ "now"|date("Y") }} 
			</div>
		</div>
	</div>
</footer>
