<div class="create container pb-5">
    <div class="pt-5 mt-5">
        <div class="stack__text">
            <div class="stack__text--projects fs-1" data-aos="fade-up">Edit your</div>
            <div class="stack__text--stack mb-2 fs-2" data-aos="fade-up">PROFILE</div>
        </div>

        {{ form_start(form._token, {'attr': { 'class': 'form', 'autocomplete': 'off' }}) }}
            <div class="form__group">
                <div class="form__errors">
                    {{ form_errors(form.firstname) }}
                </div>
                {{ form_widget(form.firstname, {'attr': { 'type': 'text', 'class': 'form__input', 'id': 'firstname' }}) }}
                <label for="firstname" class="form__label">Firstname</label>
            </div>

            <div class="form__group">
                <div class="form__errors">
                    {{ form_errors(form.lastname) }}
                </div>
                {{ form_widget(form.lastname, {'attr': { 'type': 'text', 'class': 'form__input', 'id': 'lastname' }}) }}
                <label for="lastname" class="form__label">Lastname</label>
            </div>

            <div class="form__group">
                <div class="form__errors">
                    {{ form_errors(form.email) }}
                </div>
                {{ form_widget(form.email, {'attr': { 'type': 'text', 'class': 'form__input', 'id': 'email' }}) }}
                <label for="email" class="form__label">Email address</label>
            </div>

            <div class="form__group">
                <div class="form__errors">
                    {{ form_errors(form.password.first) }}
                </div>
                {{ form_widget(form.password.first, {'attr': { 'class': 'form__input', 'type': 'password' }}) }}
                <label for="user_password_first" class="form__label">Password</label>
            </div>

            <div class="form__group">
                <div class="form__errors">
                    {{ form_errors(form.password.second) }}
                </div>
                {{ form_widget(form.password.second, {'attr': { 'class': 'form__input', 'type': 'password' }}) }}
                <label for="user_password_second" class="form__label">Confirm password</label>
            </div>

            <div class="form__group">
                <label for="login" class="form__label">Nickname</label>
            </div>

            <div class="form-group">
                <button type="submit" class="button__login mx-auto d-block">Edit</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>