<section class="works" id="works">
	<div class="works__text">
		<div class="works__text--recent">My recent</div>
		<div class="works__text--works">WORKS</div>
		<div class="works__text--sub">Created with passion</div>
	</div>
	<div class="mockup">
		<img src="{{ asset('build/images/mockup.png')}}" alt=""/>
		
		<!-- Swiper control arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		
		<!-- Swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
			<!-- Loads images from back-end via a JS script from index.html.twig -->
			{% for project in projects %}
				<div class="swiper-slide slide{{ loop.index|first }}" data-background="{{ project.mainImage }}">
					<div class="slide__caption">
						<p class="slide__text">{{ project.title }}</p>
						<p class="slide__text--description">{{ project.introduction|u.truncate(30, '...') }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>

	<!-- Mouse scoller -->
	<div class="scroll pt-5">
		<i class="fas fa-chevron-down normal"></i>
		<i class="fas fa-chevron-down smaller"></i>
		<i class="fas fa-chevron-down tiny"></i>
	</div>
</section>
