<section class="works">
	<div class="works__text">
		<div class="works__text--recent gs_reveal gs_reveal_fromLeft">My recent</div>
		<div class="works__text--works gs_reveal gs_reveal_fromBottom">WORKS</div>
		<div class="works__text--sub">Created with passion</div>
	</div>
	
	<div class="mockup gs_reveal gs_reveal_fromBottom">
		<img src="{{ asset('build/images/mockup.webp')}}" alt="Laptop mockup"/>
		
		<!-- Swiper control arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		
		<!-- Swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
			<!-- Loads images from back-end via a JS script from index.html.twig -->
			{% for project in projects %}
				<div class="swiper-slide slide{{ loop.index|first }}" data-background="/{{ project.imageName }}">
					<a href="{{ path('single_project', {'slug': project.slug}) }}" class="swipe-caption">
						<div class="slide__caption">
							<p class="slide__text">{{ project.title }}</p>
							<p class="slide__text--description">{{ project.introduction|u.truncate(30, '...') }}</p>
						</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
