{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}
	
	{% for message in app.flashes('success') %}
		<div class="flash-notice alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<div id="main">
		<div class="accordion" id="accordion">
			<!-- Users -->
			<div class="card z-depth-0 bordered">
				<div class="card-header" id="headingOne2">
					<h3 data-toggle="collapse" data-target="#users-list" aria-expanded="true" aria-controls="users-list">
						<i class="fas fa-users"></i> Users list
					</h3>
				</div>
				<div id="users-list" class="collapse users__list" aria-labelledby="headingOne2" data-parent="#accordion">
					<div class="row">
						<!-- Card -->
						{% for user in users %}
							<div class="col-sm-6 col-md-6 col-lg-3">
								<div class="card card__bg m-3">
									<img src="/uploads/avatars/{{ user.firstname|lower }}-{{ user.lastname|lower }}/{{ user.avatar }}" class="card-img-top" alt="{{ user.__toString }}">
									<div class="card-body">
										{% if user.roleUser[0].name == 'ROLE_ADMIN' %}
											<h5 class="card-title card__title">{{ user.__toString }} [ADMIN]<i class="fas fa-crown"></i></h5>
										{% else %}
											<h5 class="card-title card__title">{{ user.__toString }} [USER]</h5>
										{% endif %}
										<p class="card-text card__description">{{ user.description|u.truncate(40, ' ...') }}</p>
										<p class="font-weight-bold card__email">{{ user.email }}</p>
										<p class="card-text card__description">Created {{ user.getDate }}</p>

										<div class="d-flex justify-content-between">
											{# <a href="{{ path('single_project', {'slug': project.slug}) }}" class="btn btn-success">Show</a> #}
											<a href="{{ path('edit_user', {'slug': user.slug}) }}" class="button__login">Edit</a>
											<a href="{{ path('delete_user', {'slug': user.slug}) }}" class="button__login--del"><i class="fas fa-trash-alt"></i></a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<!-- Projects -->
			<div class="card z-depth-0 bordered">
				<div class="card-header" id="headingTwo2">
					<h3 data-toggle="collapse" data-target="#projects-list" aria-expanded="false" aria-controls="projects-list">
						<i class="fas fa-project-diagram"></i> Works list
					</h3>
				</div>
				<div id="projects-list" class="collapse projects__list" aria-labelledby="headingTwo2" data-parent="#accordion">
					<div class="card-body">
						<div class="row">
							<!-- Card -->
							{% for project in projects %}
								{% set author = project.users %}
								<div class="col-sm-6 col-md-6 col-lg-3">
									<div class="card card__bg m-3">
										<img src="/uploads/images/{{ project.imageName }}" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title card__title">{{ project.title }}</h5>
											<p class="card-text card__description">{{ project.introduction|u.truncate(30, ' ...') }}</p>
											<p class="card-text card__description">Created by {{ author }} {{ project.getDate }}</p>
											<div class="d-flex justify-content-between">
												<a href="{{ path('single_project', {'slug': project.slug}) }}" class="button__login">Show</a>
												<a href="{{ path('edit_project', {'slug': project.slug}) }}" class="button__login">Edit</a>
												<a href="{{ path('delete_project', {'slug': project.slug}) }}" class="button__login--del"><i class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<!-- Articles -->
			<div class="card z-depth-0 bordered">
				<div class="card-header" id="headingThree2">
					<h3 data-toggle="collapse" data-target="#articles-list" aria-expanded="false" aria-controls="articles-list">
						<i class="fas fa-newspaper"></i> Articles list
					</h3>
				</div>
				<div id="articles-list" class="collapse articles__list" aria-labelledby="headingThree2" data-parent="#accordion">
					<div class="card-body">
						<div class="row">
							<!-- Card -->
							{% for article in articles %}
								{% set author = article.users %}
								<div class="col-sm-6 col-md-6 col-lg-3">
									<div class="card card__bg m-3">
										<img src="/uploads/images/{{ article.imageName }}" class="card-img-top" alt="...">
										<div class="card-body">
											<h5 class="card-title card__title">{{ article.title }}</h5>
											<p class="card-text card__description">{{ article.introduction|u.truncate(50, ' ...') }}</p>
											<p class="card-text">Created by {{ author }} {{ article.getDate }}</p>
											<div class="d-flex justify-content-between">
												<a href="{{ path('single_article', {'slug': article.slug }) }}" class="button__login">Show</a>
												<a href="{{ path('edit_article', {'slug': article.slug }) }}" class="button__login">Edit</a>
												<a href="{{ path('delete_article', {'slug': article.slug }) }}" class="button__login--del"><i class="fas fa-trash-alt"></i></a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}{% endblock %}
