<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to slashflex.io!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #27282c;
            color: #ffffff;
            padding: 30px 0 30px 0;
            font-weight: normal;
            font-size: 18px;
        }
        hr {
            border: none;
            border-top: 3px solid #27282c;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .block {
            margin : 0;
            padding: 10px 20px 20px 20px;
            color: #000;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="content">
                <h1 class="text-center"><strong>{{user|capitalize}}</strong> sent you a message.</h1>
                <p class="block">
                    <strong>Subject:</strong><br>
                    {{subject|capitalize}}
                </p>
                <p class="block">
                    Message sent {{date}}.
                </p>
                <p class="block">
                    <strong>{{user|capitalize}}</strong> email address : {{mail}}.
                </p>
            </div>
        </div>
    </div>
</body>
</html>