<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to slashflex.io!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #27282c;
            color: #ffffff;
            padding: 30px 0 30px 0;
            font-weight: normal;
            font-size: 18px;
        }
        hr {
            border: none;
            border-top: 3px solid #27282c;
            margin: 20px;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .block {
            margin : 0;
            padding: 10px 20px 20px 20px;
            color: #000;
        }
        .logo {
            width: 100%;
        }
        .text-center {
            text-align: center;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #27282c;
            color: #fff !important;
            border: 1px solid #fff;
            border-radius: 3px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }
        
    </style>
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="{{ url('home') }}">
                    <img src="{{ logo }}" alt="logo" class="logo">
                </a>
            </div>

            <div class="content">
                <h1 class="text-center">Nice to meet you {{ name }}</h1>
                <p class="block">Welcome to <strong>Slashflex.io</strong>, i can't wait to read your comments on my blog's posts</p>
                <p class="block">
                    Check out existing posts and share you thoughts in the comment section
                </p>
                <p class="block text-center">
                    <a href="{{ url('blog') }}" class="btn">Get reading!</a>
                </p>
                <p class="block">
                    I'm excited that you've decided to join me. <br>
                    If you need help, we're always just a message away.
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    Cheers 🍺, <a href="{{ url('home') }}">David Saoud (Slashflex)</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>