{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div id="main">
		{% include "partials/_nav_bar.html.twig" %}

		<header class="header__projects">
			<div class="hero__projects">
				<div class="round"></div>
				<img src="/build/images/books.webp" class="model-book img-fluid" alt="model">

				<div id="wrapper">
					<h1 class="wrapper__sites">Blog</h1>
					<div class="keyF"></div>
					<div class="keyU"></div>
					<div class="keyK"></div>
					<div class="keyC"></div>
				</div>
			</div>
		</header>

		<section class="project">
			<div class="container">
				<h1 class="project__title gs_reveal gs_reveal_fromLeft">Read. Install. Enjoy!</h1>
				<p class="project__introduction gs_reveal gs_reveal_fromBottom">A place where i can share my personal resources on installing tools and software related to web application development. These tools help me on a daily basis and I will make sure to add more regularly. They will deal with web application development and web programming in general. They take the form of easy-to-follow and self-tested tutorials.</p>
				<p class="project__introduction gs_reveal gs_reveal_fromBottom">If you find any inconsistencies or mistakes, do not hesitate to
					<a href="{{path('contact')}}" class="in-bl">contact me.</a>
				</p>
			</div>

			<div class="stack__text">
				<div class="stack__text--projects gs_reveal gs_reveal_fromLeft">My recent</div>
				<div class="stack__text--stack gs_reveal gs_reveal_fromBottom">POSTS</div>
			</div>
		</section>

		<div class="container">
			<div class="row cards">
				{% for article in articles %}
					{% set auteur = article.users %}
					<div class="col-12 col-lg-6" id="{{article.slug}}">
						<div class="card{{loop.index}} gs_reveal gs_reveal_fromLeft">
							<div class="flips">
								<div class="front{{loop.index}} vertical">
									<div class="card-content--image-1" style="background-image: url(/build/images/{{ article.imageName }})"></div>
								</div>
								<div class="back{{loop.index}} vertical">
									<div class="card-content">
										<h2 class="mb-5">{{ article.title|capitalize }}</h2>
										<div class="form-group">
											<div class="goo-btn">
												<svg xmlns="http://www.w3.org/2000/svg" class="goo">
													<defs>
														<filter id="goo">
															<feGaussianBlur in="SourceGraphic" stddeviation="10" result="blur"/>
															<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"/>
															<feComposite in="SourceGraphic" in2="goo"/>
														</filter>
													</defs>
												</svg>

												<span class="button--bubble__container">
													<a href="{{ path('single_article', { 'slug': article.slug }) }}" class="button button--bubble">Read</a>
													<span class="button--bubble__effect-container">
														<span class="circle top-left"></span>
														<span class="circle top-left"></span>
														<span class="circle top-left"></span>

														<span class="button effect-button"></span>

														<span class="circle bottom-right"></span>
														<span class="circle bottom-right"></span>
														<span class="circle bottom-right"></span>
													</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}
