{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div id="main">
		<!-- Logo and Nav -->
		{% include "partials/_top_buttons.html.twig" %}

		<!-- Fullscreen Navigation -->
		{% include "partials/_fullscreen_nav.html.twig" %}

		<div class="create container mt-5">
			<div class="create__form mx-auto pt-5 pb-5">
				<h1 class="heading__secondary">
					Create a new post
				</h1>
				{{ form_start(form, {'attr': {'class': 'm-auto'}}) }}
				<div class="row mt-5">
					<div class="col-12 col-lg-12">
						<div class="form__group">
							{{ form_widget(form.title, {'attr': { 'type': 'text', 'class': 'form__input', 'placeholder': 'Title', 'id': 'title' }}) }}
							<label for="title" class="form__label">Title</label>
						</div>

						<div class="form__group">
							{{ form_widget(form.introduction, {'attr': { 'type': 'text', 'class': 'form__input', 'placeholder': 'Introduction', 'id': 'introduction' }}) }}
							<label for="introduction" class="form__label">Introduction</label>
						</div>

						<div class="form__group">
							{{ form_widget(form.content, {'attr': { 'type': 'text', 'class': 'form__input', 'placeholder': 'Content', 'id': 'content_1' }}) }}
							<label for="content" class="form__label">Content</label>
						</div>

						<div class="form__group">
							{{ form_widget(form, {'attr': { 'class': 'form__input', 'placeholder': 'Main Image', 'id': 'main_image' }}) }}
							<label for="main_image" class="form__label">Image file</label>
						</div>
					</div>
				</div>

				<div class="form-group p-5">
					<button type="submit" class="button__login mx-auto d-block">Create</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}
