{% extends "base.html.twig" %}

{% block titre %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

	{% for message in app.flashes('success') %}
		<div class="flash-notice alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<header style="background-image: url('/uploads/images/{{ article.imageName }}'); background-repeat: no-repeat; background-size: cover; padding: 20rem; background-size: 50%; background-position: center;">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12 text-center article-intro">
					<h1>{{ article.title|capitalize }}</h1>
					<p>{{ article.introduction|capitalize }}</p>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row mt-5 mb-5">
			{{ article.content|raw }}
		</div>
		<hr class="separator">
		<div class="row">
			<h5 class="comments-counter">
				{% set commentNumber = comments|length %}

				{% if commentNumber == 1 %}
					<p class="text-center"><i class="fas fa-comments"></i>
					{{ commentNumber }} 
					Comment</p>
					{% if not app.user %}
						<p>You need to be logged in to post a comment</p>
					{% endif %}
				{% elseif commentNumber >= 2 %}
					<p class="text-center"><i class="fas fa-comments"></i>
					{{ commentNumber }}	
					Comments</p>
					{% if not app.user %}
						<p>You need to be logged in to post a comment</p>
					{% endif %}
				{% else %}
					Be the first one to post a comment
				{% endif %}
			</h5>

			<div class="comments user-info-comments col-lg-12">
                <ul class="commentaire"></ul>
            </div>
        </div>

		{% if app.user %}
			{{ form_start(form) }}
				<div class="form__group">
					{{ form_widget(form.content, {'attr': { 'class': 'form__input comment-block d-block', 'placeholder': 'Add comment...', 'id': 'content', 'cols': '10', 'rows': '5' }}) }}
					<label for="content" class="form__label">Comment</label>
				</div>

				<div class="form-group">
					<button type="submit" id="postComment" class="button__login mx-auto d-block">Publish</button>
				</div>
			{{ form_end(form) }}
		{% endif %}
    </div>
	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   	<script language="javascript">
        let commentaire = '';

        {% for comment in comments %}
            {% set idParent = "-1" %}
            
            {% if comment.parent is not null %}
                {% set idParent = comment.parent.id %}
            {% endif %}
        
            commentaire = `
                <li>
                    <div class="comment-wrap">
                        <div class="photo">
                            <div class="avatar" {% if comment.users.avatar != 'avatar.png' %} style="background-image: url(/uploads/avatars/{{ comment.users.firstName|lower }}-{{ comment.users.lastName|lower }}/{{ comment.users.avatar }})" {% else %} style="background-image: url(/uploads/avatars/{{ comment.users.avatar }})" {% endif %}></div>
                        </div>
                        <div class="comment-block">
                            <div class="comment-tile">{{ comment.users.__toString }} | Comment n°: {{ comment.id }}</div>
                            <p class="comment-text">{{ comment.content|capitalize }}</p>
                            <div class="bottom-comment">
                                <div class="comment-date">
                                    about {{ comment.createdAt|ago }}
                                </div>
                                <span class="d-flex justify-content-end float-right">
                                    {% if app.user != comment.users and app.user %}
                                        <button id="loadComments-{{ comment.id }}" class="button__login d-block" style="background-color: #ffbe41; color: black;">Reply to comment {{ comment.id }}</button>  
                                    {% endif %}
                                
                                    {% if comment.users is same as(app.user) %}
                                        <a href="{{ path('delete_comment', {'id': comment.id }) }}" class="button__login--del"><i class="fas fa-trash-alt"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Reply to Comment with given ID -->
					
					<form action="" style="display: none" {% if idParent == "-1" %}id="reply-comment-{{ comment.id }}"{% else %}id="reply-reply-{{ comment.id }}"{% endif %}>
						<textarea type="text" name="comment[content]" id="commentID-{{ comment.id }}" style="color: white; width: 93%; float: right;" class="form__input d-block comment-block" ></textarea>
						<label for="message" class="form__label">Message</label>

						<input type="hidden" class="userId" name="comment[users_id]" value="{{ comment.users.id }}">
						<input type="hidden" class="commID" name="comment[parent_id]" value="{{ comment.id }}">

						<div class="form-group pt-2 pb-3">
							<button type="button" id="postComment-{{ comment.id }}" class="button__login mx-auto d-block">Reply</button>
						</div>
					</form>
                    <ul class="reply-{{ comment.id }}" style="width: 98%; float: right"></ul>
                </li>
            `;

            if ("{{idParent}}" == "-1") {
                console.log('IF')
                $('.commentaire').append(commentaire);
				$('#loadComments-{{ comment.id }}').on('click', () => {
					$('#reply-comment-{{ comment.id }}').toggle();
				});
            } else {
                console.log('ELSE')
                $(".reply-{{idParent}}").append(commentaire);
				$('#loadComments-{{ comment.id }}').on('click', () => {
					$('#reply-reply-{{ comment.id }}').toggle();
				});
            }

			
        {% endfor %}
   </script>
{% endblock %}