{% block _project_content_widget %}
    <p>Add new fields</p>

    {{ form_widget(form) }}

    <input type="hidden" id="content-counter" value="0">

    <div class="form-group">
        <a class="btn btn-primary text-white" id="add-content-btn">
            + Add new field(s)
        </a>
    </div>
{% endblock %}

{% block _project_content_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _project_content_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        {{ form_widget(form.content, {'attr': { 'class': 'form-control form-control-lg' }}) }}
        <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
    </div>
{% endblock %}