{% block _project_image_widget %}
    <p>Ajoutez vos images</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <a class="btn btn-primary text-white" id="add-images-btn">
            + Ajouter une image
        </a>
    </div>
{% endblock %}

{% block _project_image_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _project_image_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        {{ form_widget(form.url, {'attr': { 'class': 'form-control form-control-lg' }}) }}
        <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
    </div>
{% endblock %}