{% extends 'base.html.twig' %}

{% block title %}{{ title }}
{% endblock %}


{% block body %}
	<!-- Logo and Nav -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

	<header class="header__projects">
        <div class="hero__projects">
			<div class="round"></div>
            <img src="/build/images/sites_laptop.webp" class="model-laptop img-fluid" alt="">

            <div id="wrapper">
                <h1 class="wrapper__sites">Works</h1>
                <div class="keyF"></div>
                <div class="keyU"></div>
                <div class="keyK"></div>
                <div class="keyC"></div>
            </div>
        </div>
    </header>
    
	<section class="project">
		<div class="container">
			<h1 class="project__title" data-aos="fade-up">Think. Design. Create!</h1>
			<p class="project__introduction" data-aos="fade-up">Bright style, elegance, refinement, and attention to detail – this is what I value in my works. Because of this I always look for new ways to improve my skills and create meticulously designed and built websites. Although I have not done that many projects, I sincerely hope this list will grow intensively soon. I always find decent solutions and even help others with solving their issues 🙂.</p>
			<p class="project__introduction" data-aos="fade-up">There is a proverb saying: “A stitch in time saves nine!”</p>
		</div>

		<div class="stack__text">
			<div class="stack__text--projects" data-aos="fade-up">My recent</div>
			<div class="stack__text--stack" data-aos="fade-up">WORKS</div>
		</div>
	</section>
	
	<div class="container">
		<div class="row cards">
			{% for project in projects %}
			{% set auteur = project.users %}
				<div class="col-12 col-lg-6"> 
					<div class="card{{loop.index}}" data-aos="fade-up">
						<div class="flips">
							<div class="front{{loop.index}} vertical">
								<div class="card-content--image" style="background-image: url(/uploads/images/{{ project.imageName }})"></div>
							</div>
							<div class="back{{loop.index}} vertical">
								<div class="card-content">
									<h2>{{project.title|capitalize|u.truncate(30, '...')}}</h2>
									<p>{{project.introduction|u.truncate(150, '...')}}</p>
									<div class="form-group">
										<a href="{{ path('single_project', { 'slug': project.slug }) }}" class="button__login--showcase">Showcase</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}
