{% extends "base.html.twig" %}

{% block titre %}{{ project.title }}{% endblock %}

{% block body %}
	<!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert-success">
            {{ message }}
        </div>
    {% endfor %}

 {# style="background-image: url(/uploads/images/{{ project.imageName }}); background-repeat: no-repeat; background-size: cover; padding: 20rem 0; background-position: center" #}
    <header>
        {# <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center project-intro">
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.introduction }}</p>
                </div>
            </div>
        </div> #}
        <div class="mockup">
            <img src="{{ asset('build/images/mockup.webp')}}" alt=""/>
            
            <!-- Swiper control arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Loads images from back-end -->
                    {% for image in project.getAttachments %}
                        <div class="swiper-slide slide{{loop.index0|first}}" style="background-image: url(/uploads/images/{{ image.fileName }}); background-repeat: no-repeat; background-size: contain; background-position: center">
                            <a href="{{ path('single_project', {'slug': project.slug}) }}">
                                <div class="slide__caption">
                                    <p class="slide__text">{{ project.title }}</p>
                                    <p class="slide__text--description">{{ project.introduction|u.truncate(30, '...') }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </header>

    <div class="container">
        <h1 class="text-center display-1">{{ project.title|raw|capitalize }}</h1>
        <div class="row mt-5 mb-5">
            {{ project.content|raw }}
        </div>
    </div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}