{% extends "base.html.twig" %}

{% block titre %}{{ project.title }}{% endblock %}

{% block body %}
	<!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <header>
        <div class="mockup">
            <img src="{{ asset('build/images/mockup.webp')}}" alt=""/>
            
            <!-- Swiper control arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Loads images from back-end -->
                    {% for image in project.Attachments %}
                        <div class="swiper-slide slide{{loop.index0|first}}" style="background-image: url(/uploads/images/{{ image.fileName }}); background-repeat: no-repeat; background-size: contain; background-position: center">
                            {# <a href="{{ path('single_project', {'slug': project.slug}) }}"> #}
                                
                            {# </a> #}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="text-center display-1">{{ project.title|raw|capitalize }}</h1>
        <div class="row mt-5 mb-5">
            {{ project.content|raw }}
        </div>
    </div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}