{% extends "base.html.twig" %}

{% block titre %}
	{{ project.title }}
{% endblock %}

{% block body %}
	<div id="main">
		{% include "partials/_top_buttons.html.twig" %}

		<!-- Fullscreen Navigation -->
		{% include "partials/_fullscreen_nav.html.twig" %}

		{% for message in app.flashes('success') %}
			<div class="flash-notice">
				{{ message }}
			</div>
		{% endfor %}

		<header>
			<div class="mockup">
				<img
				src="{{ asset('build/images/mockup.webp')}}" alt="Laptop mockup"/>

				<!-- Swiper control arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>

				<!-- Swiper -->
				<div class="swiper-container">
					<div
						class="swiper-wrapper">
						<!-- Loads images from back-end -->
						{% for image in project.Attachments %}
							<div class="swiper-slide slide{{loop.index0}}" style="background-image: url(/uploads/images/{{ image.fileName }});
								                                                                background-repeat: no-repeat;
								                                                                background-size: cover;
								                                                                background-position: center"></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</header>

		<div
			class="container works__wrapper">
			<!-- LightBox -->
			{% for img in project.Attachments %}
				<div class="lightbox{{loop.index0}}">
					<img src="/uploads/images/{{ img.fileName }}" alt="{{project.title}}" class="project__attachments">
				</div>
			{% endfor %}

			<h1 class="text-center display-title gs_reveal gs_reveal_fromBottom">
				{{ project.title|raw|capitalize }}
			</h1>

			<div class="my-5 display-content">
				<div class="project__introduction">{{ project.introduction }}</div>
				{{ project.content|raw }}
			</div>

			<div class="stack__text--1 text-center">
				<div class="stack__text--projects gs_reveal gs_reveal_fromLeft">My Other</div>
				<div class="stack__text--stack gs_reveal gs_reveal_fromBottom">Works</div>
			</div>

			<!-- Swiper -->
			<div class="swiper-container-2 gs_reveal gs_reveal_fromBottom">
				<div class="swiper-wrapper">
					{% for img in projects %}
						{% if app.request.get('slug') != img.slug %}
							<div class="swiper-slide radius">
								<div class="picture">
									<a href="{{ path('single_project', {'slug': img.slug})}}" class="picture__link">
										<img class="img-fluid slide-{{ loop.index|first }}" src="/uploads/images/{{img.imageName}}" alt="{{img.title}}">
										<div class="detail">
											<h3>{{ img.title|capitalize }}</h3>
											<span>{{ img.introduction|u.truncate(20, '...')|capitalize }}</span>
										</div>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="swiper-button-next next-btn"></div>
				<div class="swiper-button-prev prev-btn"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}
	<script>
		// LightBox
        for(let i=0;i<{{project.Attachments|length}};i++){let slides=document.querySelectorAll(`.slide${[i]}`);let lightbox=document.querySelector(`.lightbox${[i]}`);for(const slide of slides){slide.addEventListener('click',()=>{lightbox.style.display='block';lightbox.classList.add('ligthbox-open')})}
        lightbox.addEventListener('click',()=>{lightbox.style.display='none';lightbox.classList.remove('ligthbox-open')})}
        let swipes=new Swiper('.swiper-container-2',{effect:"coverflow",grabCursor:!0,centeredSlides:!0,slidesPerView:"auto",coverflowEffect:{rotate:20,stretch:0,depth:350,modifier:1,slideShadows:!0},navigation:{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}})
	</script>
{% endblock %}
