{% extends "base.html.twig" %}

{% block titre %}{{ project.title }}{% endblock %}

{% block body %}
	<!-- Logo -->
	{% include "partials/_top_buttons.html.twig" %}

	<!-- Fullscreen Navigation -->
	{% include "partials/_fullscreen_nav.html.twig" %}

    {% for message in app.flashes('success') %}
        <div class="flash-notice alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <header style="background-image: url('{{ project.mainImage }}'); background-repeat: no-repeat; background-size: cover; padding: 20rem; background-size: 50%; background-position: center;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center project-intro">
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.introduction }}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mt-5 mb-5">
            {{ project.content1|raw }}
            {{ project.content2|raw }}
            {{ project.content3|raw }}
        </div>
    </div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}