{% extends "base.html.twig" %}

{% block titre %}{{ project.title }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <header style="background-image: url('{{ project.mainImage }}'); background-repeat: no-repeat; background-size: cover; padding: 8rem;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center project-intro">
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.introduction }}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-8">
                <div id="carouselExampleIndicators" class="carousel slide wrapper" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in project.image %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.url }}" alt="First slide" data-idimage="{{ loop.index0 }}">
                            </div>
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        {% for image in project.image %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}