{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div
		id="main">
		<!-- Logo -->
		{% include "partials/_top_buttons.html.twig" %}

		<!-- Fullscreen Navigation -->
		{% include "partials/_fullscreen_nav.html.twig" %}

		<header class="header__projects">
			<div class="hero__projects">
				<div class="round"></div>
				<img src="/build/images/contact.webp" class="model-contact img-fluid" alt="contact model">

				<div id="wrapper">
					<h1 class="wrapper__sites">Contact</h1>
					<div class="keyF"></div>
					<div class="keyU"></div>
					<div class="keyK"></div>
					<div class="keyC"></div>
				</div>
			</div>
		</header>

		<section class="project">
			<div class="container">
				<div class="stack__text mb-5">
					<div class="stack__text--projects" data-aos="fade-up">Contact me</div>
					<div class="stack__text--stack mb-2" data-aos="fade-up-right">RIGHT NOW</div>
				</div>

				<div class="row">
					<div class="col-lg-6">
						{{ form_start(form, {'attr': {'class': 'form__contact pb-5'}}) }}
						<div class="mx-auto">
							<div class="form__group">
								{{ form_widget(form.firstname, {'attr': { 'type': 'text', 'class': 'form__input', 'placeholder': 'Firstname', 'id': 'firstname' }}) }}
								<label for="firstname" class="form__label">Firstname</label>
							</div>

							<div class="form__group">
								{{ form_widget(form.lastname, {'attr': { 'type': 'text', 'class': 'form__input', 'placeholder': 'Lastname', 'id': 'lastname' }}) }}
								<label for="lastname" class="form__label">Lastname</label>
							</div>

							<div class="form__group">
								{{ form_widget(form.email, {'attr': { 'type': 'email', 'class': 'form__input', 'placeholder': 'Email', 'id': 'email' }}) }}
								<label for="email" class="form__label">Email</label>
							</div>

							<div class="form__group">
								{{ form_widget(form.subject, {'attr': { 'class': 'form__input fake-input', 'placeholder': 'Your message...', 'id': 'subject' }}) }}
								<label for="subject" class="form__label">Message</label>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="button__login mx-auto d-block">Send</button>
						</div>
						{{ form_end(form) }}
					</div>

					<div class="col-lg-6 align-self-end">
						<div class="row">
							<div class="col-1"></div>

							<div class="col-5">
								<div class="card1">
									<div class="flips">
										<div class="front1 vertical contact-front-1">
											<div class="card-content borderline">
												<h2 class="front-h2">
													<i class="fab fa-github contact-icons"></i>
												</h2>
												<a href="https://github.com/Slashflex" class="button__login--showcase">Github</a>
											</div>
										</div>
										<div class="back1 vertical contact-back-1">
											<div class="card-content borderline">
												<img class="qr-code img-fluid" style="width: 58%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" src='/build/images/qr-code_github.webp' alt='QR Code'/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-5">
								<div class="card2">
									<div class="flips">
										<div class="front2 vertical contact-front-2">
											<div class="card-content borderline">
												<h2 class="front-h2">
													<i class="fab fa-linkedin-in contact-icons"></i>
												</h2>
												<a href="https://www.linkedin.com/in/david-saoud-775624174/" class="button__login--showcase">Linkedin</a>
											</div>
										</div>
										<div class="back2 vertical contact-back-2">
											<div class="card-content">
												<img class="qr-code img-fluid" style="width: 58%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" src='/build/images/qr-code_linkedin.webp' alt='QR Code'/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-1"></div>
						</div>

						<div class="row">
							<div class="col-1"></div>

							<div class="col-5">
								<div class="card3">
									<div class="flips">
										<div class="front3 vertical contact-front-3">
											<div class="card-content borderline">
												<h2 class="front-h2">
													<i class="fas fa-paper-plane contact-icons"></i>
												</h2>
												<a href="mailto: pro.davidsaoud@gmail.com" class="button__login--showcase">Email</a>
											</div>
										</div>
										<div class="back3 vertical contact-back-3">
											<div class="card-content">
												<img class="qr-code img-fluid" style="width: 58%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" src='/build/images/qr-code_email.webp' alt='QR Code'/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-5">
								<div class="card4">
									<div class="flips">
										<div class="front4 vertical contact-front-4">
											<div class="card-content borderline">
												<h2 class="front-h2">
													<i class="fab fa-twitter contact-icons"></i>
												</h2>
												<a href="https://twitter.com/saoud_david" class="button__login--showcase">Twitter</a>
											</div>
										</div>
										<div class="back4 vertical contact-back-4">
											<div class="card-content">
												<img class="qr-code img-fluid" style="width: 58%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" src='/build/images/qr-code_twitter.webp' alt='QR Code'/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-1"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}