{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
    <div id="main">
        <!-- Logo -->
        {% include "partials/_top_buttons.html.twig" %}

        <!-- Fullscreen Navigation -->
        {% include "partials/_fullscreen_nav.html.twig" %}
        {% for message in app.flashes('success') %}
            <div class="flash-notice" style="top: 0">
                {{ message }}
            </div>
        {% endfor %}
        
        <div class="container pb-5">
            <div class="stack__text pt-8">
                <div class="stack__text--projects fs-1" data-aos="fade-up">Hello</div>
                <div class="stack__text--stack mb-2 fs-2" data-aos="fade-up">{{ user }}</div>
            </div>

            <div id="DigitalCLOCK" class="clock" onload="showTime()"></div>

            <div class="avatar">
                {% if user.avatar != 'avatar.png' %}
                    <img src="/uploads/avatars/{{ user.slug}}/{{ user.avatar }}" alt="{{ user.__toString }}'s avatar" class="avatar__image">
                {% else %}
                    <img src="/uploads/avatars/{{ user.avatar }}" alt="{{ user.__toString }}'s avatar" class="avatar__image">
                {% endif %}
                <p class="language-html">Email : {{ user.email }}</br>Your account was created {{ user.getDate }}</p>
            </div>
            
            <a href="{{ path('edit_me', {'slug': user.slug}) }}" class="button__login">Edit</a>
            <a href="{{ path('upload_avatar', {'slug': user.slug}) }}" class="button__login">Upload avatar</a>
            <a href="{{ path('logout') }}" class="button__login">Logout</a>
            {% for role in app.user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                    <a href="{{ path('admin') }}" class="button__login">Dashboard</a>
                {% endif %}
            {% endfor %}

            {# {% if user.comments != null %}
                <h2>Your stats : </h2>
                {% if user.comments|length >= 2 %}
                    <p>Comments count : {{user.comments|length}}</p>
                {% else %}
                    <p>Comment count : {{user.comments|length}}</p>
                {% endif %}
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Comment posted on</th>
                            <th scope="col" class="text-center">Message of the comment</th>
                            <th scope="col" class="text-center">Comment posted on article</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in user.comments %}
                            <tr>
                                <td scope="row">{{comment.createdAt|date("m/d/Y")}} at {{comment.createdAt|date("H:i:s")}}</td>
                                <td scope="row" class="w-50">{{comment.content|capitalize}}</td>
                                <td scope="row"><a href="{{path('single_article', {'slug': comment.article.slug}) }}">{{comment.article.title}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %} #}
        </div>
    </div>
	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}

{% block javascripts %}{% endblock %}

