{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div id="main">
		<!-- Logo and Nav -->
		{% include "partials/_top_buttons.html.twig" %}

		<!-- Fullscreen Navigation -->
		{% include "partials/_fullscreen_nav.html.twig" %}

		<div class="create container">
			<div class="create__form mx-auto pt-5 mt-5">
				<div class="stack__text">
					<div class="stack__text--projects fs-1 gs_reveal gs_reveal_fromLeft">Upload your</div>
					<div class="stack__text--stack mb-2 fs-2 gs_reveal gs_reveal_fromBottom">AVATAR</div>
					<p class="language-html text-center mt-0 mb-5">jpg, jpeg, png, webp or gif only</p>
				</div>

				{{ form_start(form, {'attr': {'class': 'm-auto'}}) }}
					<div class="form__errors">
						{{ form_errors(form.avatar) }}
					</div>

					<div class="button_outer">
						<div class="btn_upload">
							{{ form_widget(form.avatar, {'attr': { 'class': 'form__input' }}) }}
							Upload avatar
						</div>
						<div class="processing_bar"></div>
						<div class="success_box"></div>
						</div>
					<div class="error_msg"></div>
					<div class="uploaded_file_view" id="uploaded_view">
						<span class="file_remove">X</span>
					</div>

					<div class="form-group mt-5 pb-5">
						<button type="submit" class="button__login mx-auto d-block px-5">Upload</button>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% include "partials/_footer.html.twig" %}
{% endblock %}
